<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chixing.mapper.CartMapper">
  <resultMap id="BaseResultMap" type="com.chixing.pojo.Cart">
    <id column="cart_id" jdbcType="INTEGER" property="cartId" />
    <result column="cust_id" jdbcType="INTEGER" property="custId" />
    <result column="shoes_detail_id" jdbcType="INTEGER" property="shoesDetailId" />
    <result column="quality" jdbcType="VARCHAR" property="quality" />
    <result column="add_time" jdbcType="DATE" property="addTime" />
    <result column="update_time" jdbcType="DATE" property="updateTime" />
  </resultMap>
  <sql id="Base_Column_List">
    cart_id, cust_id, shoes_detail_id, quality, add_time, update_time
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from cart
    where cart_id = #{cartId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from cart
    where cart_id = #{cartId,jdbcType=INTEGER}
  </delete>
  <delete id="delete">
    delete from cart
    where shoes_detail_id = #{param1.shoesDetailId,jdbcType=INTEGER} and cust_id = #{param2,jdbcType=INTEGER}
  </delete>
  <insert id="save" parameterType="com.chixing.pojo.Cart">
    insert into cart (cart_id, cust_id, shoes_detail_id,
      quality, add_time, update_time
      )
    values (#{cartId,jdbcType=INTEGER}, #{custId,jdbcType=INTEGER}, #{shoesDetailId,jdbcType=INTEGER}, 
      #{quality,jdbcType=VARCHAR}, #{addTime,jdbcType=DATE}, #{updateTime,jdbcType=DATE}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.chixing.pojo.Cart">
    insert into cart
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="cartId != null">
        cart_id,
      </if>
      <if test="custId != null">
        cust_id,
      </if>
      <if test="shoesDetailId != null">
        shoes_detail_id,
      </if>
      <if test="quality != null">
        quality,
      </if>
      <if test="addTime != null">
        add_time,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="cartId != null">
        #{cartId,jdbcType=INTEGER},
      </if>
      <if test="custId != null">
        #{custId,jdbcType=INTEGER},
      </if>
      <if test="shoesDetailId != null">
        #{shoesDetailId,jdbcType=INTEGER},
      </if>
      <if test="quality != null">
        #{quality,jdbcType=VARCHAR},
      </if>
      <if test="addTime != null">
        #{addTime,jdbcType=DATE},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=DATE},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.chixing.pojo.Cart">
    update cart
    <set>
      <if test="custId != null">
        cust_id = #{custId,jdbcType=INTEGER},
      </if>
      <if test="shoesDetailId != null">
        shoes_detail_id = #{shoesDetailId,jdbcType=INTEGER},
      </if>
      <if test="quality != null">
        quality = #{quality,jdbcType=VARCHAR},
      </if>
      <if test="addTime != null">
        add_time = #{addTime,jdbcType=DATE},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=DATE},
      </if>
    </set>
    where cart_id = #{cartId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.chixing.pojo.Cart">
    update cart
    set cust_id = #{custId,jdbcType=INTEGER},
      shoes_detail_id = #{shoesDetailId,jdbcType=INTEGER},
      quality = #{quality,jdbcType=VARCHAR},
      add_time = #{addTime,jdbcType=DATE},
      update_time = #{updateTime,jdbcType=DATE}
    where cart_id = #{cartId,jdbcType=INTEGER}
  </update>
  <update id="updateCount">
    update cart
    set quality = #{param3,jdbcType=INTEGER}
    where shoes_detail_id = #{param1,jdbcType=INTEGER} and cust_id = #{param2,jdbcType=INTEGER}
  </update>
</mapper>