<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chixing.mapper.OrderDetailMapper">
  <resultMap id="BaseResultMap" type="com.chixing.pojo.OrderDetail">
    <id column="order_id" jdbcType="INTEGER" property="orderId" />
    <id column="shoes_detail_id" jdbcType="INTEGER" property="shoesDetailId" />
    <result column="quality" jdbcType="INTEGER" property="quality" />
    <result column="order_shoes_color" jdbcType="VARCHAR" property="orderShoesColor" />
    <result column="order_shoes_size" jdbcType="VARCHAR" property="orderShoesSize" />
  </resultMap>
  <sql id="Base_Column_List">
    order_id, shoes_detail_id, quality, order_shoes_color, order_shoes_size
  </sql>
  <select id="selectByPrimaryKey" parameterType="com.chixing.pojo.OrderDetailKey" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from order_detail
    where order_id = #{orderId,jdbcType=INTEGER}
    and shoes_detail_id = #{shoesDetailId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="com.chixing.pojo.OrderDetailKey">
    delete from order_detail
    where order_id = #{orderId,jdbcType=INTEGER}
    and shoes_detail_id = #{shoesDetailId,jdbcType=INTEGER}
  </delete>
  <insert id="saveDetails" parameterType="com.chixing.pojo.OrderDetail">
    insert into order_detail (order_id, shoes_detail_id, quality,
      order_shoes_color, order_shoes_size)
    values (#{orderId,jdbcType=INTEGER}, #{shoesDetailId,jdbcType=INTEGER}, #{quality,jdbcType=INTEGER},
      #{orderShoesColor,jdbcType=VARCHAR}, #{orderShoesSize,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.chixing.pojo.OrderDetail">
    insert into order_detail
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="orderId != null">
        order_id,
      </if>
      <if test="shoesDetailId != null">
        shoes_detail_id,
      </if>
      <if test="quality != null">
        quality,
      </if>
      <if test="orderShoesColor != null">
        order_shoes_color,
      </if>
      <if test="orderShoesSize != null">
        order_shoes_size,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="orderId != null">
        #{orderId,jdbcType=INTEGER},
      </if>
      <if test="shoesDetailId != null">
        #{shoesDetailId,jdbcType=INTEGER},
      </if>
      <if test="quality != null">
        #{quality,jdbcType=INTEGER},
      </if>
      <if test="orderShoesColor != null">
        #{orderShoesColor,jdbcType=VARCHAR},
      </if>
      <if test="orderShoesSize != null">
        #{orderShoesSize,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.chixing.pojo.OrderDetail">
    update order_detail
    <set>
      <if test="quality != null">
        quality = #{quality,jdbcType=INTEGER},
      </if>
      <if test="orderShoesColor != null">
        order_shoes_color = #{orderShoesColor,jdbcType=VARCHAR},
      </if>
      <if test="orderShoesSize != null">
        order_shoes_size = #{orderShoesSize,jdbcType=VARCHAR},
      </if>
    </set>
    where order_id = #{orderId,jdbcType=INTEGER}
    and shoes_detail_id = #{shoesDetailId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.chixing.pojo.OrderDetail">
    update order_detail
    set quality = #{quality,jdbcType=INTEGER},
      order_shoes_color = #{orderShoesColor,jdbcType=VARCHAR},
      order_shoes_size = #{orderShoesSize,jdbcType=VARCHAR}
    where order_id = #{orderId,jdbcType=INTEGER}
      and shoes_detail_id = #{shoesDetailId,jdbcType=INTEGER}
  </update>
</mapper>